@page "/teacher/{id:int}"

@using BlazorApp1.Services;
@using BlazorApp1.Models;
@inherits BaseComponent
@inject IAppState AppState

@inject IRepositoryService RepositoryService;
<link rel="stylesheet" href="css/styles.css">

<div class="header">
    <div class="user-info">
        <span>@($"Username:{AppState.Username}")</span>
        <span>@("Teacher")</span>
    </div>
    <button class="logout-button" @onclick="Logout">Logout</button>
</div>
<h3>Teaching Schedule</h3>

@if (teacherSchedule == null)
{
    <p>Loading...</p>
}
else if (teacherSchedule.Count == 0)
{
    <p>No courses found for this professor.</p>
}
else
{
<div class="table-container">
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var schedule in teacherSchedule)
                {
                    <tr>
                        <td>@schedule.CourseTitle</td>
                        <td>@schedule.Day</td>
                        <td>@schedule.StartTime</td>
                        <td>@schedule.EndTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
}

@code {
    List<TeacherScheduleDto> teacherSchedule;
    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Authorize(AppState.AccountId, id);
        teacherSchedule = await RepositoryService.GetTeacherScheduleAsync(id);
    }
}
